@import './variables.scss';

* {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-family-primary;
  background-color: #000;
}

body {
	height: 100vh;
	position: relative;
}

a {
	text-decoration: none;
}




