$color-black: rgb(14, 12, 12);
$color-dark-gray: rgb(29, 28, 28);
$color-medium-gray: rgb(116, 109, 109);
$color-light-gray: rgba(230, 230, 230, 1);
$color-transparent-gray: rgba(35, 31, 32, 0.6);

$color-white: rgb(255, 255, 255);

$color-petrol: rgba(68, 138, 166, 1);
$color-petrol-transparent: rgba(68, 138, 166, 0.7);
$color-tomato: rgba(221, 78, 80, 1);
$color-pink: #DD4EBE;
$color-purple: rgba(114, 111, 189, 1);
$color-purple-transparent: rgba(114, 111, 189, 0.5);

$font-family-primary: 'Orbitron', sans-serif;
$font-family-secondary: 'Rajdhani', sans-serif;

$transition: all .3s ease;

$radius: 4px;

