@import '../../assets/styles/variables.scss';
@import '../../assets//styles//template.scss';

.badge-front {
  width: 100%; height: 100%;
  position: absolute;

  backface-visibility: hidden;
  
  &__image-section {
    @include flex-center(1rem);
    width: 100%;
    padding: 6rem 0 2.4rem;

    background: linear-gradient(180deg, rgba(214, 114, 114, 0.8) 0%, rgba(68, 138, 166, 0.8) 100%), url(../../assets/images/polygon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    box-shadow: inset 0px 4px 12px rgba(221, 78, 190, 0.5);
    border-radius: $radius $radius 0 0;
  }

  &__data-section {
    padding: 2.4rem 0;
  }
  
  .data-section {
    &__data-name,
    &__data-office, 
    &__data-paragraph {
      font-size: 1.6rem;
      letter-spacing: 0.16em;
      text-align: center;
    }

    &__data-office,
    &__data-paragraph {
      line-height: 20px;
    }

    &__data-name {
      color: $color-light-gray;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    &__data-office {
      color: $color-white;
      font-weight: 500;

      margin-top: 2.8rem;
    }
  
    &__data-paragraph {
      color: $color-medium-gray;
      font-family: $font-family-secondary;
      
      margin-top: 0.8rem;
    }
  
    &__data-social-icons {
      margin-top: 1.2rem;
    }
  }
}