@import '../../assets/styles/template.scss';
.portfolio-page {
  width: 100%;
}

.portfolio__container {
  @include flex-center(4.8rem);
  flex-wrap: wrap-reverse;

  margin-top: 4rem;
  padding: 2.4rem;
}